.onboarding-form {
  margin: 20px;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-label {
  color: #666;
  font-size: 12px;
  margin-bottom: 5px;
}

input{
  margin-bottom: 20px;
  padding: 12px;
  outline: none;
  border-radius: 8px;
  border: 1px solid #666;
  outline: none;
}

::placeholder {
  color: #999;
  font-size: 16px;
}

input:invalid:not(:placeholder-shown){
  border: 2px solid red;
}

/* input:valid:not(:placeholder-shown){
  border: 2px solid green;
} */

.submit{
  border: none;
  cursor: pointer;
  background-color: #ddd;
  color: #666;
  font-weight: 700;
}

.active-btn{
  border: none;
  cursor: pointer;
  background-color: rgb(0, 8, 151);
  color: #fff;
  font-weight: 700;
}