.logo {
  width: 100px;
  height: 100px;
  background-color: #7589ed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.onboardingContainer {
  padding: 20px;
}

.success {
  background-color: #189444;
  color: #fff;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
}