.otpInput {
  background: #b5cff6;
  width: 20px;
  height: 20px;
  font-size: 16px;
  text-align: center;
  border: 1px solid #b5cff6;
  margin: 10px;
}

.otpSubmit {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  height: 50px;
  width: 50px;

}

.otpContainer {
  background-color: #4b4bfe;
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: calc(100% - 40px);

}

.otpInputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

h3 {
  color: #fff;
}

h4 {
  color: #fff;
  margin: 0px;
  margin-top: 10px;
}
h6 {
  color: #fff;
  margin: 0px;
}